*{
    margin: 0px;
    padding: 0px;   
    font-family:'Open Sans';
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 200px;
}
h1{
    font-weight: 800;
    font-size: 45px;
}
nav > ul {
    display: flex;
    align-items: center;
}
nav > ul > li{
    list-style: none;
    margin-left: 50px;
    font-size: 16px;
}
.text-primary {
    color: #FD6E0A;
}
.btn-primary {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
}
.banner{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}
.banner h3{
    font-weight: 600;
    font-size:45px;
    margin-bottom:20px;
}

.banner h1{
    font-weight: 700;
    font-size:85px;
}
.banner p{
    color: #757575;
    margin-bottom: 30px;
}

header{
    background-color: #FFF8F3;
    background-image: url("./../images/developer.png"), url("./../images/header_bg.png");
    background-repeat: no-repeat;   
    background-position: left, bottom right;
}

.about-me{
    background-color: #FFF8F3;
    border-radius: 10px;
    margin: 130px 150px;
    text-align: center;
    margin-top: 130px;
}

.about-me > h1{
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px;
}

.about-me > p{
    color: #757575;
    margin-bottom: 30px;
}

.about-me > div{
    display: flex;
    justify-content: space-around;
}

.about-me span {
    display: flex;
    flex-direction: column;
}

.about-me-heading{
    font-size: 20px;
    color: #757575;
}

.about-me-info{
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}

.what-i-do{
    margin: 130px 150px;
}

.what-i-do > h1{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px;
}

.what-i-do > div{
    display: flex;
    gap: 24px;
}

.skill-card{
    background-color: #fff;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    padding: 30px;
    border-radius: 5px;
}

.skill-card > img{
    height: 44px;
}

.skill-card > h1{
    font-weight: 700;
    color: black;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-card > p{
    color:#757575;
}

.summary{
    margin: 130px 150px;
}

.summary > h1{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px;    
}

.summary-fields{
    display: flex;
    gap: 24px;
}

.summary-fields > div > div{
    margin-top: 30px;
    margin-bottom: 30px;
}

.summary-fields h4{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}

.summary-fields h5{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.summary-fields p{
    color: #757575;
}

.btn-container{
    text-align: center;
}

.connect{
    display: flex;
    gap: 100px;
    background-color: #FFF8F3;
    padding: 130px 200px;
}

.connect div{
    display: block;
    text-align: left;
}

.connect h3{
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px;
}

.connect p{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

.basic-input{
    margin-bottom:24px;
    border: 0px;
    width: 100%
}

.text-input{
    padding: 18px 30px;
    height: 64px;
}

.message{
    height: 200px;
}